<div class="wall">
  <div class="loginform">
    <form  >
      <label>CHOOSE LOCATION</label>
      <div>
         <select (click)="modo($event)"  [(ngModel)]="selectedLocation" [ngModelOptions]="{standalone: true}"> 
         <option *ngFor="let location of locations" [value]="location.name">{{ location.name }}</option> 
         </select>
     </div>


      <pre></pre>
      <label for="ProductTitle">Tittle</label><br />
      <input
      class="form-control"
        type="text"
        name="productTitle"
        placeholder="ProductTittle"
        [(ngModel)]="roomDetails.tittle" />
      <pre></pre>

      <label for="area">area</label><br />
      <input
      class="form-control"
        type="text"
        name="area"
        placeholder="area"
        [(ngModel)]="roomDetails.area" />
      <pre></pre>

      <label for="Price">Price</label><br />
      <input
       class="form-control"
        type="text"
        name="price"
        placeholder="Price"
        [(ngModel)]="roomDetails.price"/>
      <PRE></PRE>

      <!-- <label for="qnt">Quantity</label><br>
      <input class="form-control" type="number" name="qnt" placeholder="quantity" [(ngModel)]="roomDetails.quantity">
      <pre></pre> -->

      <label>{{this.selectedImage}}</label><br>
      <input type="file" (change)="getFile($event)" /><br />
      <pre></pre>

      <button
        class="btn btn-primary"
        (click)="adding(roomDetails)"
        type="button"
        >
        ADD-PRODUCT
      </button>
      <span style="display: inline-block; width: 40px"></span>
      <button class="btn btn-primary" (click)="putting()">
        Updating Product
      </button>
      <span style="display: inline-block; width: 40px"></span><br /><br />
      <button class="btn btn-primary" (click)="checkPage()">checkpage</button>
    </form>
  </div>
</div>
